.centerDiv{
    position: absolute;
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 5vh;
}

.centerWrapper{
    position: relative;
}
.accelerationBox{
    position: absolute;
    width: 42vw;
    height: 42vh;
    background: #FFCBB0;
    border-radius: 29px;
}

.altitudeBox{

    position: absolute;
    width: 42vw;
    height: 42vh;
    left: 48vw;
    background: #FFCBB0;
    border-radius: 29px;
    
}

.locationBox{
    position: absolute;
    width: 42vw;
    height: 42vh;
    top:  48vh;
    background: #FFCBB0;
    border-radius: 29px;
}

.temperatureBox{
    position: absolute;
    width: 42vw;
    height: 42vh;
    left: 48vw;
    top: 48vh;
    background: #FFCBB0;
    border-radius: 29px;
}

.middleCircle{

}

.headerCurve{

}