.centerDiv{
    position: absolute;
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 5vh;
}

.centerWrapper{
    position: relative;
    width: 90vw;
    height: 90vh;
}
.accelerationBox{
    position: absolute;
    width: 42vw;
    height: 42vh;
    background: #FFCBB0;
    border-radius: 29px;
}

.altitudeBox{

    position: absolute;
    width: 42vw;
    height: 42vh;
    left: 54%;
    background: #FFCBB0;
    border-radius: 29px;
    
}

.locationBox{
    position: absolute;
    width: 42vw;
    height: 42vh;
    top:54%;
    background: #FFCBB0;
    border-radius: 29px;
}

.temperatureBox{
    position: absolute;
    width: 42vw;
    height: 42vh;
    left: 54%;
    top: 54%;
    background: #FFCBB0;
    border-radius: 29px;
}

.middleCircle{
    border-radius: 50%;
    position: absolute;
    width: 20vw;
    height: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
}

.headerCurve{

}