<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/launchPage.css') }}">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </head>
    <body>
        <div class='centerDiv'>
            <div class='centerWrapper'>
                <div class='accelerationBox'></div>
                <div class='altitudeBox'></div>
                <div class='locationBox'></div>
                <div class='temperatureBox'></div>
                <div class='middleCircle'></div>
            </div>
            <div class='headerCurve'></div>


        </div>
    </body>

</html>